@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

@font-face {
    font-family: 'spotnikbold';
    src: url('../fonts/spotnik_bold-webfont.woff2') format('woff2'),
         url('../fonts/spotnik_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Cores de fundo */
.bg-cyber-yellow {
  background-color: #FEDB00; /* Amarelo */
}
.bg-cyber-cyan {
  background-color: #00FFFF; /* Ciano */
}
.bg-cyber-red {
  background-color: #E51937; /* Vermelho */
}
.bg-cyber-dark {
  background-color: #1E1E1E; /* Preto */
}

/* Cores do texto */
.text-cyber-yellow {
  color: #FEDB00; /* Amarelo */
}
.text-cyber-cyan {
  color: #00FFFF; /* Ciano */
}
.text-cyber-red {
  color: #E51937; /* Vermelho */
}
.text-cyber-redish {
  color: #ff4136; /* Vermelho-claro */
}

/* Bordas */
.border-cyber-red {
  border: 1px solid #E51937; /* Vermelho */
  padding: 1em;
}

/* Corpo */
body {
  color: #fc4f49; /* Vermelho */
  font-family: 'Orbitron', sans-serif;
  background: rgb(48,18,26);
  background: linear-gradient(170deg, rgba(48,18,26,1) 0%, rgba(6,9,16,1) 100%);
}

/* Navbar */
nav span {
  text-transform: uppercase;
  font-weight: 300;
}

nav span.top-bar-label,nav .top-bar-icon {
  color: #fc4f49; /* Vermelho */
  text-shadow: 0 0 15px rgba(144, 45, 44, 0.5);
}

nav span.top-bar-value {
  color: #28ffff; /* Azul claro */
  text-shadow: 0 0 15px rgba(40, 255, 255, 0.5);
}

/* Barra superior */
div.red-border {
  border: none;
  height: 1px;
  background-color: #ff5a51; /* Vermelho */
  position: relative;
  width: 100%;
}

div.red-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: transparent;
  box-shadow: 0 0 15px rgba(144, 45, 44, 0.75);
  opacity: 0;
  animation: glowing 16s ease-in-out infinite;
}

/* Animação da barra superior */
@keyframes glowing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Estilos para títulos e textos */
.cyberpunk-title {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1;
}

.cyberpunk-subtitle {
  font-size: 3rem;
  line-height: 1;
}

.cyberpunk-description {
  font-size: 1.5rem;
  line-height: 1;
}

.cyberpunk-conclusion {
  font-size: 1rem;
  line-height: 1;
}

#screen-data h1 {
  color: #fc4f49; /* Vermelho */
  text-shadow: 0 0 15px rgba(144, 45, 44, 0.5);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}

#screen-data p {
  color: #28ffff; /* Azul claro */
  line-height: 2;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 1.25rem;
}

#screen-data p strong {
  font-weight: 900;
  
  text-shadow: 0 0 15px rgba(40, 255, 255, 0.5);
}

#bg-video {
  z-index: -1; opacity: 0.075; filter: blur(2px);
  transform: scale(1.25);
}


#logo-footer {
  font-family: 'spotnikbold';
  /* color: #01a161; */
  color: #fc4f49; /* Vermelho */
  text-align: center;
  width: 100%;
  font-size: 5em;
  margin: 0 2em 0 0;
  padding: 0;
  line-height: 0.2;
  letter-spacing: -1.33rem;
}